<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "none">
  <test name="TestWeightWatcher">
      <parameter name="browser" value="ch"/>
    <classes>
      <class name="Test.Tests"/>
      <class name="MainPage.DomainOfCompany"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
